version: '3.8'

services:
  mqtt-broker:
    image: eclipse-mosquitto:latest
    container_name: powergrid-mqtt-broker
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/config/mosquitto.conf:/mosquitto/config/mosquitto.conf
    restart: unless-stopped

